.flex-container 
{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

figure
{
    display: inline-block;
    margin: 20px;
}

figure figcaption
{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

body
{
    text-align: center;
    background-color: #0000003d;
}
